#################################################
#   Ignore the following.                       #
#################################################
__pycache__

_*.*
.idea
.vscode
*config.json

/Python_AI_course/application/logs/
/Python_AI_course/application/temp/
/Python_AI_course/application/texts/*.txt


#################################################
#   Do not Ignore the following.                #
#################################################
!*.py
